:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}
*{
    margin:0 auto;
}
body{
    box-sizing: border-box;
    background-color: var(--Grey900);
    font-family:"Inter";
    color:var(--White);
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
p{
    font-size: 14px;
}


main{
    height: 450px;
    width: 35%;
    max-width: 17em;
    min-width: 14em;
    background-color: var(--Grey800);
    border-radius: 10px;
    padding: 30px;
}

main img{
    border-radius: 50%;
    height: 80px;
    margin-bottom: 20px;
    display:flex;
}
#name{
    text-align: center;
    font-weight: 400;
}
#information{
    color:var(--Green);
    padding: 3% 0 7% 0;
    text-align: center;
    font-weight: 600;
}
#subinformation{
    text-align: center;
    padding-bottom: 7%;
    font-weight: 400;
}
nav{
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap:10px;
}
a{
    text-decoration: none;
    color:var(--White);
    font-size: 14px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    background-color: var(--Grey700);
    border-radius: 5px;
    line-height: 36px;
}

a:hover{
    background-color: var(--Green);
    color: var(--Grey900);
}